* {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	list-style: none;
}

a {
	text-decoration: none;
}

.nav li {
	width: 335px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background-color: rgb(242, 242, 242);
	font-size: 16px;
}

li a {
	color: rgb(102, 102, 102);
	font-weight: 400;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
	z-index: 1;
}

.box {
	position: relative;
	top: 0;
	width: 80%;
	height: 100px;
	margin: 0 auto;
}

.logo_img {
	display: block;
	max-height: 65px;
}

.bg_img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.logo {
	position: relative;
	top: 16px;
	width: 170px;
	height: 65px;
	display: inline-block;
}

.nav {
	position: absolute;
	top: 24px;
	left: 170px;
	width: 1017px;
	height: 48px;
}

.bg {
	width: 100%;
	height: 37.5rem;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top: 65px;
}

h1 {
	color: rgb(8, 55, 145);
	margin-top: 25px;
	font-weight: bold;
	font-size: 3.125rem;
	text-align: center;
}

.title h1 {
	position: absolute;
	top: 260px;
	left: 150px;
	font-weight: bold;
	font-size: 3.125rem;
	color: rgb(255, 255, 255);
}

.more {
	width: 150px;
	height: 50px;
	color: #ffffff;
	background-color: black;
	box-shadow: 0 10px 30px rgb(225 225 225 / 40%);
	line-height: 50px;
	text-align: center;
	position: absolute;
	bottom: 100px;
	right: 80px;
	font-size: 13px;
}

.line {
	border-bottom: 4px solid rgb(8, 55, 145);
	width: 80px;
	margin: 20px auto;
}

.introduce {
	position: relative;
	width: 65%;
	height: 400px;
	margin: 0 auto;
}

._img {
	float: left;
	width: 50%;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	text-indent: 2em;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	background-color: white;
	width: 47%;
	line-height: 170%;
	margin-bottom: 20px;
	height: 400px;
	color: rgb(102, 102, 102);
}

.teacher_img {
	overflow: hidden;
}

.photoBar {
	position: relative;
	top: 0;
	width: 86%;
	height: 360px;
	margin: 0 auto;
}

.photoBar ul li {
	margin-right: 23px;
}

.photoBar ul li .special {
	margin-right: 0;
}

.show_img {
	position: relative;
	width: 394px;
	padding: 1px;
	height: 360px;
	overflow: hidden;
}

.show_img>img {
	height: 100%;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.teacher,
.mental {
	width: 66.5%;
	margin: 0 auto;
	margin-top: 60px;
}

.teacher li,
.mental li {
	width: 31.5%;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 5px;
	display: inline-block;
	padding: 3% 4%;
}

.last {
	margin-right: 0;
}

.teacher_img {
	width: 190px;
	height: 190px;
	margin: 0 auto;
	border-radius: 50%;
}

.teacher_bg h3 {
	text-align: center;
	font-size: 2rem;
	color: #000;
	text-align: center;
	font-weight: 400;
}

.information {
	font-size: 0.8125rem;
	line-height: 170%;
}

.mental_img,
.mental_img02 {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.value {
	text-align: center;
	margin-bottom: 70px;
	color: rgb(102, 102, 102);
}

.news {
	width: 85%;
	position: relative;
	top: 0;
	margin: 0 auto;
	margin-top: 50px;
}

.mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	
}

.news_img:hover .mask,
.news_img02:hover .mask,
.news_img03:hover .mask,
.news_img04:hover .mask{
	display: block;
}
.news_img,
.news_img03 {
	position: relative;
	width: 45%;
	margin: 10px 0;
	height: 270px;
	margin-left: 50px;
	position: absolute;
	top: 0;
}

.news_img02,
.news_img04 {
	position: relative;
	width: 45%;
	margin: 10px 0;
	height: 270px;
	position: absolute;
	top: 0;
	right: 54px;
}

.news p,
.news02 p {
	position: absolute;
	top: 44%;
	left: 8%;
	font-weight: bold;
	font-size: 1.5rem;
	color: #fff;
}

.news02 {
	width: 85%;
	margin: 0 auto;
	position: relative;
	top: 290px;
}

.view_button {
	width: 150px;
	background-color: rgb(8, 55, 145);
	height: 40px;
	border-radius: 20px;
	margin: 30px auto;
	margin-top: 659px;
	border-color: rgb(8, 55, 145);
	color: rgb(247, 249, 255);
	text-align: center;
	line-height: 40px;
}

.foot {
	background-color: rgb(35, 35, 35);
	width: 100%;
	margin-top: 70px;
}

.footBox {
	width: 66.5%;
	margin: 0 auto;
	padding: 2% 0;
}

.foot_logo {
	width: 15%;
	padding: 50px;
	display: inline-block;
}

.foot_logo>img {
	display: inline-block;
	width: 150px;
}

.follow {
	width: 40%;
	display: inline-block;
	text-align: left;
	line-height: 285%;
	padding-top: 13px;
}

.follow ul {
	margin-top: 15px;
}

.follow h3 {
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 1.5rem;
}

.follow li {
	display: block;
	font-size: 1rem;
	font-weight: 400;
}

.follow a {
	color: rgb(255, 255, 255);
}

.searchBox {
	width: 33%;
	padding-top: 0;
	padding-bottom: 78px;
	display: inline-block;
}

.search {
	width: 381px;
	height: 68px;
}

.search input {
	float: left;
	height: 54px;
	width: 193px;
	border: 0;
	font-size: 0.875rem;
	color: rgb(170, 170, 170);
	padding-left: 38px;
}

.search button {
	float: left;
	height: 54px;
	width: 87px;
	border: 0;
	background-color: rgb(97, 149, 255);
}

.search button a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.copyright {
	text-align: center;
	padding: 16px 0;
	color: rgb(255, 255, 255);
	font-size: 0.875rem;
	margin-top: 32px;
}

.arrow {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 25px;
	bottom: 40px;
	background-color: rgb(191, 185, 185);
	border-radius: 20px;
	display: flex;
}

.arrow img {
	margin: auto;
	width: 25px;
}
