$myfontsize:30px;
body{
    margin: 0;
    height: 100%;
}
.register_{
    background-image: url(../img/66-1ZR316402CB.jpg);
    width: 100%;
    height: 800px;
    background-size: 100%;
    background-repeat:repeat;
    display: flex;
    justify-content: center;
   
}
.register_frame{
    width:40%;
    height: 50%;
    background-color: white;
    opacity: 0.7;
    border-radius:15px;
    margin-top: 10%;
    text-align: center;
    padding-top:0%;
}
.registe_frame p{
   height: 10%;
}
.registe_frame p input{
    height: 100%;
}
.register_button{
    float: left;
    margin-left: 27%;
}
.butt a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.headline{
    margin-bottom: 5%;
}
